/* Sign in */
.theme{
    background: #FFFFFFFF
}
/* body image */
    body {
            background-image: url('photos/background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
        }
/* header */
.pageHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFFFF;
}
.pageHeader button:hover {
    cursor: pointer;
}
.logo{
    background: none;
    border: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbarItem {
    background: none;
    border: none;
    font-family: manrope , sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    opacity: 1;
    color: #565D6DFF;
    padding: 3px 15px;

}
.userConnect{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userConnectItem{
    font-family: manrope , sans-serif;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 3px;
    font-size: 16px;
    white-space: nowrap;
}
#login{
    background-color: #6D31ED;
    color: #FFFFFFFF;

}
#logout{
    background-color: #6D31ED;
    color: #FFFFFFFF;
    display: none;
}
#signup {
    color: #6D31ED;
    background: #F3F5FCFF;
}
#userinfo{
    color: #6D31ED;
    background: #F3F5FCFF;
        Display: none;
}
.navbarItem:hover {
    background-color: #6D31ED;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.navbarItem {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* page */
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: manrope , sans-serif;
    animation-name: page;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
.aboutUsItem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 150px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#aboutAsParagraph{
    color: #565D6DFF;
    text-align: center;
}
@keyframes page {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/*login form*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.popup-content {
    background: #fff;

    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    font-family: manrope , sans-serif;
    color: #565D6DFF;
}
.loginForm {
    max-width: 300px;
    margin: 0 auto;
}

.loginForm input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
}

.loginForm button {
    background-color: #6626e7;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.loginForm button:hover {
    background-color: #3B1683FF;
}
.LoginHeader{
    color: #333;
    font-size: 24px;
}
.close-btn:hover {
    cursor: pointer;
}
